<head>
  <title>birthday</title>
  <link type="text/css" rel="stylesheet" href="<%=url('/styles.css')%>" />
</head>

<body>
  <% if @bday == Date.today %>
    <h1> Happy Birthday you lil' puta, ciao bella </h1>
  <% else %>
      <% @bday += 365.25 if Date.today >= @bday %>
      <h1> Your birthday is in <%=(@bday - Date.today).to_i%> days </h1>
  <% end %>
</body>