<h1> Hey, you! </h1>

<form action='/birthday' method='POST'>
  <label for="name">Name:</label>
  <input type="text" id="name" name="Name" required>
  <label for="birthday">Birthday:</label>
  <input type="date" id="birthday" name="user_birthday" required>
  <input type="submit" value="Submit">
</form>
